body {
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);


}

input {
    width: 300px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    box-shadow: 0px 3px 15px rgb(84, 84, 84, 0.1);
    cursor: pointer;
    color: white;

}

input::placeholder {
    background-color: #ffffff;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    color: black;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    text-align: center;
    transition: all 2s ease-in;



}

button:hover {
    background-color: orange;
    color: #f70909;


}



/* Mobile */
@media (max-width: 768px) {
    /* Mobile + Tablet */
}

/* Laptop */
@media (min-width: 769px) {
    /* Laptop */
}